.section__collection {
  padding-top: 4.3rem;
  width: 100%;
}


.section__collection-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5.2rem;
}

.section__collection-top-btn {
  width: 9.2rem;
  height: 3.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 1rem;
  background-color: #6d888e;
  color: #fff;
  border: transparent;
  cursor: pointer;
}

.section__collection-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.section__collection-bottom-box {
  margin-bottom: 5rem;
}

.section__collection-bottom-box .box-img {
  display: block;
  width: 16.1rem;
  height: 17.2rem;
}

.section__collection-bottom-box .img-responsive {
  display: none;
}

.section__collection-bottom-box p {
  margin-top: 0.7rem;
}

.collection__page .section__collection-top {
  display: none;
}

.subpage .section__collection {
  padding-top: 1.8rem;
}

.collection__page .navigation__container-logo a {
  color: #fff;
}

.collection__page .section__collection-bottom-box {
  margin-bottom: 5rem;
}

.collection__page .next-box {
  display: none;
}

@media screen and (min-width: 375px) {
  .section__collection-bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 425px) {
  .section__collection-bottom-box {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1439px) {
  .section__collection {
    padding-top: 7rem;
  }
  .section__collection-top-btn {
    width: 10.8rem;
    height: 4.4rem;
    font-weight: 400;
  }
  .section__collection-bottom-box {
    padding: 0;
  }
  .section__collection-bottom-box .img-responsive {
    display: block;
  }
  .section__collection-bottom-box .box-img {
    display: none;
  }
  .section__collection-bottom-box p {
    margin-top: 2rem;
  }

  .subpage .section__collection {
    padding-top: 6.2rem;
  }
  .collection__page .next-box {
    display: block;
    width: 29.5rem;
    height: 31.5rem;
  }
  
}
