@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


body {
  height: 144rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible, button:focus-visible {
  outline: 1px solid #000;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
}

.container {
  margin: 0 auto;
  width: 92vw;
  max-width: 136rem;
}

.text-style {
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

